body{
  background-color: #1f1e1e;
  color: #fff;
  overflow:hidden;
}

h1{
  text-align: center;
}

.ToDo-wrapper{
  background:#353434;
  padding:3%;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 10px rgb(27, 27, 27);
}

.ToDo-Input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  margin-bottom: 25px;
  
}
.ToDo-Input-Item{
  background-color: #353434;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}
.ToDo-Input-Item label{
  font-weight: bold;
  margin-bottom: 10px;
} 
.ToDo-Input-Item input{
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 250px;
  outline: none;
}
.ToDo-Input-Item input:focus{
  box-shadow: 0px 0px 5px #fff;
  border: 1px solid rgb(0, 230, 122);
}

.ToDo-List{
  background-color: #414040;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;

}
.Primary-Button, .active{
  background-color: rgb(0, 230, 122);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.Secondary-Button{
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.Btn-Area{
  gap: 10px;
  display: flex;
  padding-bottom: 10px;
}
.ToDo-List-Item-Action{
  display: absolute;
  margin-left: auto;
  flex-direction: column;
  
}
.Primary-Button:hover{
  background-color: rgb(23, 86, 55);
} 
.active:hover{
  background-color: rgb(23, 86, 55);
} 
.Secondary-Button:hover{
  background-color: #333;
  border-color: #fff;
}
.ToDo-Input-Item h3{
  font-size: 25px;
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin:0;
}
.ToDo-List h3{
  font-size: 25px;
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin:0;
}
.ToDo-Input-Item p{
  font-size: 15px;
  color: rgb(161, 161, 161);
  margin-top:8px;
}
.ToDo-List p{
  font-size: 15px;
  color: rgb(161, 161, 161);
  margin-top:8px;
}
.Delete-Icon{
  font-size: 35px;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  
}
.Delete-Icon:hover{
  color: rgb(255, 0, 0);
}

.Check-Icon{
  font-size: 35px;
  margin-left: auto;
  margin-bottom: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  color: rgb(0, 230, 122);
  display: flex;
    
}
.Check-Icon:hover{
  color: rgb(4, 196, 106);
}
.Edit-Icon{
  font-size: 35px;
  margin-left: auto;
  margin-bottom: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  color: rgb(0, 165, 230);
  display: flex;
    
}
.Edit-Icon:hover{
  color: rgb(4, 113, 196);
}